/**
** CSS By Alipio Gabriel 
** FOR Racine Theatre
** Version 1.0
**/

/*MODULE CSS*/

.builder-module-widget-bar-background-wrapper {
	background: transparent;
}

.builder-container-background-wrapper {
    overflow: hidden;
}

.builder-module-background-wrapper, .builder-module-widget-bar-background-wrapper,.builder-module-widget-bar-background-wrapper,.builder-module-widget-bar-background-wrapper,.builder-module-sidebar{	/*MAKING TRANSPARENT WIDGET*/
	background: transparent; 
}

.builder-module-element {
    padding: 0;
}

.builder-module-content .builder-module-element {
    overflow: visible !important;
}

.builder-module-outer-wrapper{
	overflow: visible;
}

.builder-container-outer-wrapper{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.builder-module-widget-bar,.builder-module-widget-bar .widget-wrapper{
	overflow: visible !important;
}

.builder-module-widget-bar .widget {
    padding: 0;
}


/**REMOVE DIV **/
.home .entry-header,.home .entry-footer{
	display: none;
}

/*GENERAL STYLE*/
body{
	font-family: 'montserratlight';
	font-size: 15px;
	line-height: 23px;
	position: relative;
	color: #686868;
    background: #EDEAE7;
}

body.home{
	background: white;
}

b,strong{
	font-weight: 800;
	font-family: 'montserratbold';
}

a{
	color: #7a0f2d;
}

img {
    margin: 0;
}

.text-center{
	text-align: center;
}

p:empty:first-child{
    display:none;
}

hr{
    height: 0px;
    border: 1px #878787 dotted;
    margin: 20px 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 300;
	font-family: 'montserratlight';
	color: black;
	margin-top: 0;
}

h2{
	text-transform: uppercase;
}

h5,h6{
	text-transform: uppercase;
}

h6{
	font-size: 14px;
	font-style: normal;
}

ul{
	list-style: none;
}

ul li{
	border-bottom: 1px #ccc dotted;
	padding: 6px 0;
}

ul li a{
	text-decoration: none;
}

.clearboth{
	clear: both;
}

.header h1, .header h2, .header h3, .header h4{
	text-transform: uppercase;
}

.white-scheme, .white-scheme *{
	color: white !important; 
}


/*TOP BAR*/

.topbar-background-wrapper{
	background: #edeae7;
	margin:0;
	padding: 7px 15px; 
}

.topbar address {
	text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-family: 'montserratregular';
}

.topbar #searchform{
	float: right;
	position: relative;
}

.topbar #searchform #s{
	margin: 0;
	background: white;
	border: 1px #e4dcd5 solid;
	font-size: 12px;
	line-height: 20px;
	min-width: 235px;
	padding-left: 32px;
}

.topbar #searchform #searchsubmit{
	background: url(images/topbar-search-icon.png) no-repeat;
    width: 17px;
    height: 17px;
    border: 0;
    font-size: 0;
    top: 8px;
    left: 10px;
    position: absolute;
}

/* HEADER */

#builder-module-56dfb7773d181{
	width: 100% !important;
}

div#builder-module-56dfb7773d181 {
    max-width: 100%;
}

.header .header-wrap-left.wpb_column.vc_column_container{
	background: white;
    padding: 15px 7%;
}

.header .header-wrap-right.wpb_column.vc_column_container{
	background: #7a0f2d;
    padding: 15px 0;
    padding-left: 22px;
    min-height: 65px;
}

.header-background-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding: 0 !important;
}


/*HEADER MENU*/
.header #mega-menu-wrap-max_mega_menu_1{
	max-width: 700px;
}

.header .menu-menu-container .menu{
	list-style: none;
}

.header .menu-menu-container .menu li{
	float: left;
}

.header .menu-menu-container .menu li a{
	color: white
}

.header #click-menu {
	margin-top: 13px !important;
    top: 0% !important;
    background: transparent !important;
}

/*CONTENT MODULE*/
.builder-module-content {
    background: white;
}

.loop-content {
    padding: 25px;
    padding-top: 0;
}
.home .loop-content {
	padding: 0;
}

.entry-title {
    border-bottom: 1px #ccc dotted;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 20px;    
    font-size: 22px;
}

.loop-header{
	text-align: center;
}

.hentry img{
	background: transparent;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

.entry-content{
	margin-top: 0;
}

.fullwidth-leftwrap{
	max-width: 400px;
    float: right;
    padding-right: 20px;
}

.fullwidth-rightwrap{
    max-width: 594px;
    padding: 0 18px;
}

.entry-footer {
    border-top: 0;
    clear: both;
    margin-bottom: 0;
    padding-top: 0;
}

.ft_image-container{
    text-align: center;
    padding: 20px 20px;
}

.ft_image-container img{
   /* width: 100%; */
}

/*JS COMPOSER CUSTOM STYLE*/
.wpb_content_element{
    margin-bottom: 0 !important;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
}

#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .vc_message_box>p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
    margin-bottom: 0 !important;
}

/*JS COMPOSER  BUTTON */

.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg{
	font-size: 18px;
	font-family: 'montserratregular';
}

.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg i{
	font-size: 25px;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-outline.active, .vc_btn3.vc_btn3-color-black.vc_btn3-style-outline:active, .vc_btn3.vc_btn3-color-black.vc_btn3-style-outline:focus, .vc_btn3.vc_btn3-color-black.vc_btn3-style-outline:hover {
    color: #fff;
    border-color: #7a0f2d !important;
    background-color: #7a0f2d !important;
}

.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline-custom {
    padding: 17px 15px !important;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline {
    color: #393939 !important;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline {
    border-color: #9f9f9f !important;
    background-color: transparent;
}

/**RESPONSIVE CSS BUTTON*/
@media(max-width: 898px){
	.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline-custom{
		font-size: 11px;
	}
}


/*PRODUCTION SEARCH FORM*/

#production_searchform .production_title{
	width: 61%;
    height: 40px;
    border: 0;
    padding: 0 20px;
}

#production_searchform .production_date{
    width: 13%;
    height: 40px;
    border: 0;
    padding: 0 20px;
    margin-right: -1px;
    margin-left: 5px;
}

#production_searchform input.production_submit {
    background: url(images/production-search-icon.png) no-repeat 27%;
    font-family: 'montserratregular';
    border: 2px white solid;
    color: white;
    margin-left: 20px;
    width: 23.5%;
    padding: 9px 0;
    text-transform: uppercase;
    font-size: 15px;

    -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#production_searchform input.production_submit:hover,#production_searchform input.production_submit:active{
	border: 2px black solid;
	background: url(images/production-search-icon.png) black no-repeat 27%;
	cursor: pointer;
}

table.ui-datepicker-calendar {
    display: none !important;
}
div#ui-datepicker-div {
    margin-top: -25px;
    background: white;
    padding: 20px;
}

a.ui-datepicker-prev.ui-corner-all {
    margin-right: 10px;
    cursor: pointer !important; 
}

select.ui-datepicker-month {
    margin-right: 15px;
}

/*SEARCH RESULT*/
.prod_result-container {
    background: #ECECEC;
    padding: 20px;
    border: 1px #DEDEDE solid;
}

.search_result-container {
    padding-top: 29px;
    border-bottom: 1px #ccc dotted;
}

.search-result span a {
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color: #5aa1e3;
    border: 1px #5aa1e3 solid;
    padding: 6px 10px;
    margin: 14px 0;
    border-radius: 5px;
    display: inline-block;
}

/**RESPONSIVE CSS SEARCH FORM*/
@media(max-width: 843px){
	#production_searchform .production_title, #production_searchform input.production_submit {
		width: 100%;
		margin-left: 0;
	}
	form#production_searchform {
   	 margin: 5px 15px;
	}
}


/*PRODUCTION WRAPPER CSS*/
.productions_row .production_wrapper{
	background: #f7f7f7;
	position: relative;
}

.productions_row .production_column{
	margin-bottom: 50px;
}

.productions_row .production_wrapper .p_content{
	padding: 13px;
    padding-bottom: 30px;
}

.productions_row .production_wrapper .p_image{
	overflow: hidden;
	height: 166px;
}

.productions_row .production_wrapper .p_image img{
	margin-top: 0;
	min-height: 166px;
	width: 100%;
}

.productions_row .production_column .p_title h4{
	font-size: 16px;
	font-family: 'montserratsemi_bold';
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	line-height: 19px;
	color: #393939;
	margin-bottom: 20px;
}

.productions_row .production_wrapper .p_excerpt{
	font-size: 11px;
	font-family: 'montserratlight';
	line-height: 20px;
	color: #393939;
}


.productions_row .production_wrapper .p_date{
	font-size: 14px;
	font-family: 'montserratsemi_bold';
	line-height: 23px;
	color: #393939;
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
}

.p_info_meta {
    margin-top: -25px;
}

.productions_row .production_wrapper .p_mi a,.productions_row .production_wrapper .p_mi{
	font-size: 11px;
	font-family: 'montserratsemi_bold';
	line-height: 20px;
	color: #393939;
	text-align: center;
	text-transform: uppercase;
}

.productions_row .production_wrapper .p_ticketbutton{
	position: absolute;
    margin-top: 11px;
    left: 0;
    width: 100%;
}

.productions_row .production_wrapper .p_ticketbutton a,.p_ticketbutton a{
    background: url(images/ticket-bg.png) no-repeat 31% -3px;
	font-family: 'montserratsemi_bold';
    width: 118px;
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}


/*PAST PRODUCTION*/
.past_production .production_column{
	max-width: 307px;
	border-radius: 100%;
	margin: 0 10px;

-webkit-box-shadow: inset -8px -145px 122px -20px rgba(0,0,0,0.49);
-moz-box-shadow: inset -8px -145px 122px -20px rgba(0,0,0,0.49);
box-shadow: inset -8px -145px 122px -20px rgba(0,0,0,0.49);
}

.past_production .vc_column-inner{
	margin: 165px 0;
}

.past_production .production_wrapper{
	background: transparent;
}

.past_production .p_info_meta{
	margin-top: 0;
}

/*AUDITION CSS*/
.audition_list_wrap .a_button{
	max-width: 165px !important;
	margin: 10px 0;
}

/*PRODUCTION*/

.pro_cat-container {
   margin-left: 0;
}

.pro_cat-container .prod_cat {
	border: 0;
	padding: 0;
}

.pro_cat-container .prod_cat a{
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}

/*SPOTLIGHT*/
.spotlight_wrapper{
	border-collapse: separate;
}

.home .spotlight{
	background: #7A0F2D;
}

.spotlight .s_image{
    max-width: 50%;
    overflow: hidden;

    vertical-align: top;
}

.spotlight .s_image img{
	margin-top: 0px;
	height: 100% !important;
}

.spotlight .s_content_wrapper{
    width: 50%;
    vertical-align: middle;
}

.spotlight .s_content {
    padding: 20px;
    font-size: 13px;
    line-height: 19px;
    color: white;
}

.spotlight .s_title a{
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 9px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.spotlight .s_button{
	margin-top: 15px;
}

.spotlight .s_button a{
	text-transform: uppercase;
}

.loop-content .spotlight {
    max-width: 500px;
    margin: 40px auto;
}

/*CLASS LIST*/
ul.class-list{
	margin-left: 0;
}

/*Table*/
.table{
	display: table;
}

.table-row{
	display: table-row;
}

.table-cell{
	display: table-cell;
}


/*SOCIAL ICONS*/

ul.social-list{
	margin-left: 0;

}

ul.social-list li {
    border: 0;
    float: left;
    margin: 0 12px;
    font-size: 23px;
}

ul.social-list li a{
	color: #9c9c9c;
}

ul.social-list li a:hover{
	color: #7a0f2d;
}

/*CSS FOR single-wp_theatre_prod */


body.single-wp_theatre_prod #builder-module-56dfb7773d1de{
	max-width: 100%;
}


body.single-wp_theatre_prod .loop-content {
    padding: 0;
}

body.single-wp_theatre_prod .container{
	max-width: 960px;
	margin: 0 auto;
}

body.single-wp_theatre_prod  .builder-module-background-wrapper{
	margin-bottom: 0;
}

section.search_section.dark{
	background: black;
	padding: 5px 0;
}

.light input[type=text]{
	background: #F3F3F3 !important;
	border: 1px #EAEAEA solid !important;
}

.light #production_searchform input.production_submit{
	 border: 2px #7A0F2D solid;
    color: #7A0F2D;
}

.light #production_searchform input.production_submit:hover{
	color: white;
}

section.prod_banner{
	min-height: 350px;
	width: 100%;
	background-color: #383838;
	text-align: center;
	-webkit-box-shadow: inset 6px 3px 132px 59px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 6px 3px 132px 59px rgba(0,0,0,0.75);
	box-shadow: inset 6px 3px 132px 59px rgba(0,0,0,0.75);
}

section.prod_banner .prod_dates {
    border: 2px white solid;
    display: inline-block;
    padding: 7px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-top: 40px;
	text-shadow: 0px 1px 4px black;
}

section.prod_banner .prod_title {
    margin-top: 30px;
}

section.prod_banner .prod_title h1{
    color: white;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: 'montserratsemi_bold';
    text-shadow: 0px 1px 4px black;
}

section.prod_moreinfo {
    background: rgba(0, 0, 0, 0.47);
    margin-top: -83px;
    position: relative;
    padding: 20px 0;
    min-height: 43px;
}

section.prod_container {
    width: 100%;
    background: #7A0F2D;
}


.ticket_button-wrapper .p_ticketbutton{
	float: right;
}

.prod_left-container.wpb_column{
    background: #7A0F2D;
    padding-right: 20px;
}


.prod_poster img {
    max-width: 230px;
}

.prod_left_box{
	margin: 30px 0px;
    border-bottom: 1px #560018 solid;
}

.prod_left_box h3{
	text-transform: uppercase;
}

.prod_left_box ul{
	margin-left: 0;
}

.prod_left_box ul li{
	border: 0;
}

.prod_right-container{
    background: #ECECEC;
}

.prod_right-wrap {
    max-width: 600px;
    padding: 25px 0;
}

.prod_title-container h2{
	font-family: 'montserratlight';
	text-transform: uppercase;
	border-bottom: 1px #ccc dotted;
}

.prod_gallery{
	margin-left: 0;
}

.prod_gallery li{
	float: left;
	border: 0;
	margin-right: 20px;
}

.prod-container {
    padding: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    border: 1px #E0E0E0 solid;
}

/*TABLE EVENTS*/
.events_table-container {
    width:100%; /* Total width of visible columns + border widths */
    overflow:hidden;
}

table.events_table{
	background: transparent;
}

table.events_table th{
	background: transparent;
    min-width: 121px;
}

table#prod_e_table {
}

.table-e-button-nav {
    border: 1px #ccc solid;
    display: inline-block;
    padding: 2px 13px;
    min-width: 99px;
    text-align: center;
    text-decoration: none;
    margin-right: 14px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
}

.table-e-button-nav:hover {
	text-decoration: none;
	background: #7A0F2D;
	border: 1px #7A0F2D solid;
	color: white;
}


table.events_table .e_day{
	text-transform: uppercase;
	font-family: 'montserratsemi_bold';
	letter-spacing: 4px;
	font-size: 18px;
}

table.events_table .e_months{
	font-size: 12px;
}

table.events_table .e_remark{
	color: #ccc;
	font-size: 12px;
}

.e_ticket a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #5aa1e3;
    border: 1px #5aa1e3 solid;
    padding: 6px 10px;
    margin: 14px 0;
    border-radius: 5px;
    display: block;
}

.wp_theatre_event_prices {
	font-size: 10px;
    line-height: 10px;
}

.e_ticket a:hover{
	border: 1px #7A0F2D solid;
	background: #7A0F2D;
	color: white;
}


/*CALENDAR*/
.wpt_calendar.navigate .wpt_month.active {
    width: 100% !important;
}

.wpt_calendar .wpt_month tfoot tr .next {
    text-align: right;
    padding-right: 15px;
}

.wpt_calendar .wpt_month tfoot tr .prev {
    text-align: left;
    padding-left: 15px;
}

.wpt_calendar .wpt_month tr td {
    text-align: center;
    max-width: 22px !important;
}

.cal-prod_title,.cal-prod_starttime{
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
}

.cal-prod_moreinfo a{
	text-decoration: none;
	font-size: 9px;
	margin: -10px;
}

/*AUDITION*/

.archive .loop-content .type-audition{
    background: #FFF;
    padding: 17px;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
    border: 1px #ccc dotted;
}

.archive .loop-content .type-audition .a_button{
    margin-top: 10px;
}

.archive .loop-content .entry-title{
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 10px;
}

.archive .loop-title {
    margin-top: 15px;
}


/*FOOTER*/
.footer_widget-background-wrapper {
    border-top: #7a0f2d 8px solid;
    padding: 60px 15px;
    background: #F7F7F7;
    margin-bottom: 0;
}

.footer_widget-background-wrapper .widget_nav_menu ul{
	margin-left: 0;
}

.footer_widget-background-wrapper .widget_nav_menu li{
	border: 0;
}

.footer_widget-background-wrapper .widget_nav_menu ul li a{
	color: #808080;
	text-transform: uppercase;
	font-size: 14px;
}



/**********************************************
**********************************************
RESPONSIVE BREAKING POINT  767px
IPAD: 991px;
**********************************************
**********************************************/
@media(min-width: 1159px){
	.header .header-mobilemenu-wrapper{
		display: none;
	}
}

@media(max-width: 1159px){
	.header .header-menu-wrapper{
		display: none;
	}
}

@media(max-width: 991px){
	.p_content_meta{
		height: auto !important;
	}

	.productions_row .production_column {
    	margin-bottom: 60px;
	}

	.p_info_meta{
		margin-top: 40px;
	}
}

@media(max-width: 979px){ /*WHERE ADDTHIS BREAK*/
	.prod_share{
		display: none;
	}
}

@media(min-width: 768px){
	.fullwidth-rightwrap p{
		margin-top: 0;
	}

	.main-row .vc_col-sm-4 {
	    width: 36.9999% !important;
	}

	.main-row .vc_col-sm-8 {
    	width: 62.99999% !important;
	}

    .main-row .vc_row .vc_col-sm-4 {
		width: 33.33333333% !important;
	}

	.prod_left-wrap{
	    float: right;
	}

	.prod_poster {
	    margin-top: -175px;
	    position: relative;
	    z-index: 10;
	    min-height: 200px;
	}


}


@media(max-width: 767px){
	.topbar address {
		margin-bottom: 10px !important;
	}
	.topbar #searchform{
		float: none;
	}
	.topbar #searchform #s{
		width: 100%;
	}
	.topbar *{
		text-align: center;
	}
	.header .wpb_single_image.vc_align_right {
    	text-align: center !important;
	}
	.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline, .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg.vc_btn3-style-outline-custom{
		font-size: 14px;
	}
	.fullwidth-leftwrap{
		max-width: 100%;
		float: none;
		text-align: center;
	}
	.fullwidth-rightwrap{
		max-width: 100%;
	}

	/*Table*/
	.table{
		display: block;
		width: 100% !important;
		max-width: 100% !important;
	}

	.table-row{
		display: block;
		width: 100% !important;
		max-width: 100% !important;
	}

	.table-cell{
		display: block;
		width: 100% !important;
		max-width: 100% !important;
	}

	.spotlight .s_image{
		text-align: center;
	}

	.prod_poster {
		text-align: center;
	}

	.prod_gallery li {
	    max-width: 26%;
	}

	.prod_left-container.wpb_column{
		padding-right: 0;
	}

	.ticket_button-wrapper .p_ticketbutton {
	    margin: 0 auto;
	    float: none;
	}

}

