/**
** CSS By Alipio Gabriel 
** FOR Racine Theatre
** Version 1.0
**/

/*MODULE CSS*/
.builder-module-widget-bar-background-wrapper {
	background: transparent;
}

.builder-module-background-wrapper, .builder-module-widget-bar-background-wrapper,.builder-module-widget-bar-background-wrapper,.builder-module-widget-bar-background-wrapper,.builder-module-sidebar{	/*MAKING TRANSPARENT WIDGET*/
	background: transparent; 
}

.builder-module-element {
    padding: 0 1.5em;
}

.builder-module-content .builder-module-element {
    overflow: visible !important;
}

.builder-module-outer-wrapper{
	overflow: visible;
}

.builder-container-outer-wrapper{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.builder-module-widget-bar,.builder-module-widget-bar .widget-wrapper{
	overflow: visible !important;
}

.builder-module-widget-bar .widget {
    padding: 0;
}


/**REMOVE DIV **/
.home .entry-header,.home .entry-footer{
	display: none;
}

/*GENERAL STYLE*/
body{
	font-family: 'montserratlight';
	font-size: 15px;
	line-height: 23px;
	position: relative;
	color: #686868;
	background: white;
}

b{
	font-weight: 800;
}

.white-scheme, .white-scheme *{
	color: white !important; 
}


/*TOP BAR*/

.topbar-background-wrapper{
	background: #edeae7;
	margin:0;
	padding: 7px 15px; 
}

.topbar address {
	text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-family: 'montserratregular';
}

.topbar #searchform{
	float: right;
	position: relative;
}

.topbar #searchform #s{
	margin: 0;
	background: white;
	border: 1px #e4dcd5 solid;
	font-size: 12px;
	line-height: 20px;
	min-width: 235px;
	padding-left: 32px;
}

.topbar #searchform #searchsubmit{
	background: url(images/topbar-search-icon.png) no-repeat;
    width: 17px;
    height: 17px;
    border: 0;
    font-size: 0;
    top: 8px;
    left: 10px;
    position: absolute;
}

/* HEADER */

.header .header-wrap-left.wpb_column.vc_column_container{
	background: white;
    padding: 15px 20px;
}

.header .header-wrap-right.wpb_column.vc_column_container{
	background: #7a0f2d;
    padding: 15px 0;
    padding-left: 22px;
}

.header-background-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}


/*HEADER MENU*/
.header #mega-menu-wrap-max_mega_menu_1{
	max-width: 700px;
}

.header .menu-menu-container .menu{
	list-style: none;
}

.header .menu-menu-container .menu li{
	float: left;
}

.header .menu-menu-container .menu li a{
	color: white
}

.header #click-menu {
    top: 23% !important;
    background: transparent !important;
}

/*CONTENT MODULE*/

.entry-content{
	margin-top: 0;
}

/*JS COMPOSER CUSTOM STYLE*/

.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg{
	font-size: 18px;
}


/**********************************************
**********************************************
RESPONSIVE BREAKING POINT  767px
**********************************************
**********************************************/
@media(min-width: 1159px){
	.header .header-mobilemenu-wrapper{
		display: none;
	}
}

@media(max-width: 1159px){
	.header .header-menu-wrapper{
		display: none;
	}
}

@media(max-width: 767px){
	.topbar address {
		margin-bottom: 10px !important;
	}
	.topbar #searchform{
		float: none;
	}
	.topbar #searchform #s{
		width: 100%;
	}
	.topbar *{
		text-align: center;
	}

}

